// app global css in SCSS form
.header-font {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.bottom-border {
  border-bottom: 1px solid hsla(0, 0%, 75%, 0.8);
}

.case-header {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-font {
  font-size: 1.4rem;
  font-weight: 600;
}
